In [13]:
from lerobot.datasets.lerobot_dataset import LeRobotDataset
from pathlib import Path
import pandas as pd
from pprint import pprint

In [2]:
DATASET_ROOT= Path("/Users/chuongdao/workspace/robotic_foundations/robot_learning/robot_learning/dataset")

In [22]:
DATASET_PATH = DATASET_ROOT / "pick_small_cube"
DATASET_DATA_CHUNK_PARQUET_PATH = DATASET_PATH / "data" / "chunk-000" / "file-000.parquet"
DATASET_VIDEOS_PATH = DATASET_PATH / "videos"
DATASET_STATS_PATH = DATASET_PATH /  "meta/stats.json"
INFO_STATS_PATH = DATASET_PATH /  "meta/info.json"
DATASET_TASKS_PARQUET_PATH = DATASET_PATH / "meta" / "tasks.parquet"
DATASET_META_CHUNK_PARQUET_PATH = DATASET_PATH / "meta" / "episodes" / "chunk-000" / "file-000.parquet"

In [4]:
!tree -t $DATASET_PATH

/Users/chuongdao/workspace/robotic_foundations/robot_learning/robot_learning/dataset/pick_small_cube
├── data
│   └── chunk-000
│       └── file-000.parquet
├── videos
│   ├── observation.images.scene
│   │   └── chunk-000
│   │       └── file-000.mp4
│   └── observation.images.wrist
│       └── chunk-000
│           └── file-000.mp4
└── meta
    ├── tasks.parquet
    ├── episodes
    │   └── chunk-000
    │       └── file-000.parquet
    ├── info.json
    └── stats.json

10 directories, 7 files

## EXPLORE DATASET

#### DATA PARQUET

In [9]:
data_df = pd.read_parquet(DATASET_DATA_CHUNK_PARQUET_PATH)

In [14]:
pprint(data_df.columns.to_list())

['action',
 'observation.state',
 'timestamp',
 'frame_index',
 'episode_index',
 'index',
 'task_index']

In [15]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10346 entries, 0 to 10345
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   action             10346 non-null  object
 1   observation.state  10346 non-null  object
 2   timestamp          10346 non-null  float32
 3   frame_index        10346 non-null  int64
 4   episode_index      10346 non-null  int64
 5   index              10346 non-null  int64
 6   task_index         10346 non-null  int64
dtypes: float32(1), int64(4), object(2)
memory usage: 525.5+ KB

In [10]:
data_df.head()

,action,observation.state,timestamp,frame_index,episode_index,index,task_index
0,"[8.7378645, -99.14163, 99.783195, 47.351524, 0...","[8.918062, -98.62946, 99.011536, 47.07379, -0....",0.000000,0,0,0,0
1,"[8.7378645, -99.14163, 99.783195, 47.351524, 0...","[8.918062, -98.62946, 99.011536, 47.07379, -0....",0.033333,1,0,1,0
2,"[8.7378645, -99.14163, 99.783195, 47.351524, 0...","[8.918062, -98.62946, 99.011536, 47.07379, -0....",0.066667,2,0,2,0
3,"[8.7378645, -99.14163, 99.783195, 47.351524, 0...","[8.918062, -98.62946, 99.011536, 47.07379, -0....",0.100000,3,0,3,0
4,"[8.7378645, -99.14163, 99.783195, 47.351524, 0...","[8.918062, -98.62946, 99.011536, 47.07379, -0....",0.133333,4,0,4,0

In [18]:
data_df.describe()

          timestamp   frame_index  episode_index         index  task_index
count  10346.000000  10346.000000   10346.000000  10346.000000     10346.0
mean      17.226671    516.800116       4.499807   5172.500000         0.0
std        9.955926    298.677790       2.872521   2986.777277         0.0
min        0.000000      0.000000       0.000000      0.000000         0.0
25%        8.600000    258.000000       2.000000   2586.250000         0.0
50%       17.233334    517.000000       4.500000   5172.500000         0.0
75%       25.833334    775.000000       7.000000   7758.750000         0.0
max       34.466667   1034.000000       9.000000  10345.000000         0.0

### TASKS PARQUET

In [7]:
tasks_df = pd.read_parquet(DATASET_TASKS_PARQUET_PATH)

In [8]:
tasks_df.head()

                                                    task_index
Pick small black cube on table and put it in th...           0

In [20]:
dataset = LeRobotDataset(root=DATASET_PATH.as_posix(), 
                         repo_id="pick_small_cube", 
                         episodes=[1])

### DATA CHUNK PARQUET

In [23]:
data_chunk_df = pd.read_parquet(DATASET_META_CHUNK_PARQUET_PATH)

In [27]:
data_chunk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 107 entries, episode_index to meta/episodes/file_index
dtypes: float64(4), int64(12), object(91)
memory usage: 8.5+ KB

In [28]:
data_chunk_df.head()

,episode_index,tasks,length,data/chunk_index,data/file_index,dataset_from_index,dataset_to_index,videos/observation.images.scene/chunk_index,videos/observation.images.scene/file_index,videos/observation.images.scene/from_timestamp,...,stats/task_index/mean,stats/task_index/std,stats/task_index/count,stats/task_index/q01,stats/task_index/q10,stats/task_index/q50,stats/task_index/q90,stats/task_index/q99,meta/episodes/chunk_index,meta/episodes/file_index
0,0,[Pick small black cube on table and put it in ...,1035,0,0,0,1035,0,0,0.000000,...,[0.0],[0.0],[1035],[3.9999999999994176e-16],[3.999999999999417e-15],[1.9999999999997088e-14],[3.599999999999476e-14],[3.9599999999994235e-14],0,0
1,1,[Pick small black cube on table and put it in ...,1035,0,0,1035,2070,0,0,34.500000,...,[0.0],[0.0],[1035],[3.9999999999994176e-16],[3.999999999999417e-15],[1.9999999999997088e-14],[3.599999999999476e-14],[3.9599999999994235e-14],0,0
2,2,[Pick small black cube on table and put it in ...,1034,0,0,2070,3104,0,0,69.000000,...,[0.0],[0.0],[1034],[3.9999999999994176e-16],[3.999999999999417e-15],[1.9999999999997088e-14],[3.599999999999476e-14],[3.9599999999994235e-14],0,0
3,3,[Pick small black cube on table and put it in ...,1035,0,0,3104,4139,0,0,103.466667,...,[0.0],[0.0],[1035],[3.9999999999994176e-16],[3.999999999999417e-15],[1.9999999999997088e-14],[3.599999999999476e-14],[3.9599999999994235e-14],0,0
4,4,[Pick small black cube on table and put it in ...,1034,0,0,4139,5173,0,0,137.966667,...,[0.0],[0.0],[1034],[3.9999999999994176e-16],[3.999999999999417e-15],[1.9999999999997088e-14],[3.599999999999476e-14],[3.9599999999994235e-14],0,0